﻿<?xml version="1.0" encoding="utf-8"?>
<pdef:Page xmlns:pdef="http://www.br-automation.com/iat2015/pageDefinition/v2" id="OEETimelinePage" layoutRefId="WinpakLayoutOffice">
  <Assignments>
        <Assignment type="Content" baseContentRefId="HeaderContent" areaRefId="AreaHeader" backGroundGradient="linear-gradient(90deg, rgba(19,164,87,1) 0%, rgba(8,101,73,1) 74%, rgba(23,62,53,1) 100%)" />
    <Assignment type="Content" baseContentRefId="ContentOEETimeline" areaRefId="AreaContent" />
        <Assignment type="Content" baseContentRefId="ControlContent" areaRefId="AreaControl" backGroundGradient="radial-gradient(circle, rgba(19,164,87,1) 0%, rgba(8,101,73,1) 61%, rgba(23,62,53,1) 100%)" />
		<Assignment type="Content" baseContentRefId="NavigationContent" areaRefId="AreaNavigation" backColor="rgba(255, 255, 255, 0)" />

  </Assignments>
</pdef:Page>
